* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4e4ba;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 35vh;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form {
    margin: 2rem 0 1rem 0;
}

form select,
button,
input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.75rem;
}

#amount {
    padding: 0.5rem;
    border: 1px solid lightgrey;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    font-size: 1rem;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 1rem 0;
}

.dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select-container img {
    width: 2rem;
    height: 2rem;
}

.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 0.5rem;
}

.select-container select {
    font-size: 1rem;
    width: auto;
    border: none;
}

.msg {
  margin-top: 1rem;
  font-size: 1.2rem;
}


#btn {
    background-color:  #6f9f6f;
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
}

#btn:active {
    background-color: #5f8f5f;
}